{{> navigation/navigation}}

<div class="container-fluid py-5 px-sm-3 px-lg-5">
    <div class="row pt-5 pb-5">
        <div class="col-lg-12 text-center">
            <div class="card border-0">
                <div class="card-header bg-primary text-center p-4">
                    <h1 class="text-white m-0">Nuevo Producto</h1>
                </div>
                <div class="card-body rounded-bottom bg-white p-5">
                    <form action="/producto/create" method="POST">
                        {{> product/create}}
                        <div class="row" style="justify-content: center;">
                            <div class="col-lg-4">
                                <button class="btn btn-primary btn-block py-3" type="submit">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer/footer }}
