<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5" style="justify-content: center;">
        <div class="text-center text-md-left mb-3 mb-md-0">
            <h2 class="text-primary">¡Confía en nosotros para llevar tus proyectos al siguiente nivel!
            </h2>
        </div>
    </div>
    <div class="row pt-5" style="justify-content: center;">
        <div class="col-lg-5 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">ASISTENCIA TÉCNICA</h5>
            </a>
            <p>Escríbenos tus dudas o consultas técnicas y uno de nuestros técnicos especializados te atenderá.</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">REDES SOCIALES</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2"
                    href="https://www.facebook.com/BussinesManagementConsultores/" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-5" style="text-align: right;">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">CONTÁCTANOS</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Calle Ayabaca 629, Huancabamba, Piura, Perú</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+51 935 837 974</p>
            <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
    style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Copyright &copy; <a href="/" class="text-primary">Grupo E&J Cortez</a>. Todos
                los Derechos
                Reservados.</a>
            </p>
        </div>
    </div>
</div>
<a href="/" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>