{{> navigation/navigation}}

<div class="container-fluid py-5 px-sm-3 px-lg-5">
    <div class="row pt-5 pb-5" style="text-align: justify;">
        <div class="col-xl-4 col-lg-4 col-md-4 mb-2">
            <div class="card card-statistics h-100 card-dashboard border-2 border-primary">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <a href="/categoria">
                                <span class="text-prinary" style="font-size: 50px;">
                                    <img src="/icon/wrench-solid.svg" width="10%">
                                </span>
                            </a>
                        </div>
                        <div class="float-right text-right">
                            <p class="text-dark p-3 top-0 end-0">
                                <strong>Categoría</strong>
                            </p>
                            {{#each totalCategories}}
                            <h5 class="text-dark p-3 position-absolute end-0">{{categories}}</h5>
                            {{/each}}
                        </div>
                    </div>
                    <p class="text-muted pt-3 mb-0 mt-2 border-top">
                        <img src="/icon/note-sticky-solid.svg" width="3%">
                        Registros
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 mb-2">
            <div class="card card-statistics h-100 card-dashboard border-2 border-primary">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <a href="/producto">
                                <span class="text-prinary" style="font-size: 50px;">
                                    <img src="/icon/hammer-solid.svg" width="10%">
                                </span>
                            </a>
                        </div>
                        <div class="float-right text-right">
                            <p class="text-dark p-3 top-0 end-0">
                                <strong>Productos</strong>
                            </p>
                            {{#each totalProducts}}
                            <h5 class="text-dark p-3 position-absolute end-0">{{products}}</h5>
                            {{/each}}
                        </div>
                    </div>
                    <p class="text-muted pt-3 mb-0 mt-2 border-top">
                        <img src="/icon/note-sticky-solid.svg" width="3%">
                        Registros
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 mb-2">
            <div class="card card-statistics h-100 card-dashboard border-2 border-primary">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <a href="/venta">
                                <span class="text-prinary" style="font-size: 50px;">
                                    <img src="/icon/cart-plus-solid.svg" width="10%">
                                </span>
                            </a>
                        </div>
                        <div class="float-right text-right">
                            <p class="text-dark p-3 op-0 end-0">
                                <strong>Ventas</strong>
                            </p>
                            {{#each totalSales}}
                            <h5 class="text-dark p-3 position-absolute end-0">{{sales}}</h5>
                            {{/each}}
                        </div>
                    </div>
                    <p class="text-muted pt-3 mb-0 mt-2 border-top">
                        <img src="/icon/note-sticky-solid.svg" width="3%">
                        Registros
                    </p>
                </div>
            </div>
        </div>
        {{#if (eq user.user.rol "admin")}}
        <div class="col-xl-4 col-lg-4 col-md-4 mb-2">
            <div class="card card-statistics h-100 card-dashboard border-2 border-primary">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <a href="/compra">
                                <span class="text-prinary" style="font-size: 50px;">
                                    <img src="/icon/cart-shopping-solid.svg" width="10%">
                                </span>
                            </a>
                        </div>
                        <div class="float-right text-right">
                            <p class="text-dark p-3 op-0 end-0">
                                <strong>Compras</strong>
                            </p>
                            {{#each totalShopping}}
                            <h5 class="text-dark p-3 position-absolute end-0">{{shopping}}</h5>
                            {{/each}}
                        </div>
                    </div>
                    <p class="text-muted pt-3 mb-0 mt-2 border-top">
                        <img src="/icon/note-sticky-solid.svg" width="3%">
                        Registros
                    </p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>

{{> footer/footer }}