{{> navigation/navigation }}

<div class="container-fluid py-5 px-sm-3 px-lg-5">
    <div class="text-center pt-5 pb-5">
        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">NUESTROS SERVICIOS</h6>
    </div>
    <div class="row">
        <div class="col-md-4 pb-lg-5">
            <div class="service-item bg-white text-center mb-2 py-5 px-4">
                <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                <h5 class="mb-2">Ingeniería y Construcción</h5>
                <div class="mt-4 text-justify">
                    <li>Diseño mecánico y fabricación de estructuras metálicas para edificaciones, puentes, techos
                        autoportantes y maquinaria industrial.</li>
                    <li>Construcción civil, edificaciones residenciales, comerciales e industriales,
                        pavimentaciones, defensas ribereñas y obras de saneamiento.</li>

                    <li>Obras de saneamiento, instalaciones de agua potable, alcantarillado, canales de riego y
                        sistemas de irrigación.</li>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-lg-5">
            <div class="service-item bg-white text-center mb-2 py-5 px-4">
                <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                <h5 class="mb-2">Servicios Industriales</h5>
                <p class="mt-4">
                    <li>Trabajos de soldadura especializada, soldadura por arco eléctrico, MIG MAG, arco sumergido,
                        autógena y otras para la industria general.</li>
                    <li>Instalaciones Eléctricas: Diseño, ensamblaje y montaje de tableros eléctricos, instalaciones
                        de baja y media tensión, pozos a tierra.</li>
                </p>
            </div>
        </div>
        <div class="col-md-4 pb-lg-5">
            <div class="service-item bg-white text-center mb-2 py-5 px-4">
                <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                <h5 class="mb-2">Infraestructura y Acabados</h5>
                <p class="mt-4">
                    <li>Estructuras en drywall, construcción en yeso, fibrocemento, superboard con estructuras
                        metálicas, madera o acero.</li>
                    <li>Mantenimiento de infraestructura, reparaciones civiles y arquitectónicas en edificaciones
                        públicas y privadas.</li>
                    <li>Servicios de albañilería, obras civiles, instalaciones sanitarias y eléctricas, carpintería
                        metálica y de madera.</li>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item bg-white text-center mb-2 py-5 px-4">
                <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                <h5 class="mb-2">Comercialización de Insumos y Equipos</h5>
                <p class="mt-4">
                    <li>Venta de materiales de construcción, cemento, arena, fierro, aditivos, insumos eléctricos y
                        ferretería en general.</li>
                    <li>Importación y venta de maquinaria y vehículos, transporte de carga y pasajeros, maquinaria
                        ligera y pesada.</li>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-item bg-white text-center mb-2 py-5 px-4">
                <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                <h5 class="mb-2">Servicios Especializados</h5>
                <p class="mt-4">
                    <li>Servicios de mantenimiento de maquinaria, reparación y mantenimiento de maquinaria pesada,
                        plantas industriales y vehículos.</li>
                </p>
            </div>
        </div>
    </div>
</div>

{{> footer/footer }}